.ptv2 {
  padding-top: 6rem;
}
.nav-pills li {
  width: 300px;
  text-align: center;
  padding: 0.5rem;
}

.nav-pills a {
  font-family: "Courier New", Courier, monospace;
}

.nav-pills > li > a.active {
  background-color: #aba1ff !important;
  color: #ffffff !important;
}

.nav-pills > li > a:hover {
  color: #90ffe3 !important;
}

.nav-link-color {
  color: #ff64d8;
}

.button-background {
  background-color: #aba1ff;
  font-family: "Courier New";
}

.dropdown-menu {
  text-align: center;
}

.bi-egg-fried {
  padding-right: 1rem;
}

.bi-house {
  padding-right: 1rem;
}

.bi-question-circle {
  padding-right: 1rem;
}

.mx-auto-2 {
  padding-left: 5rem;
}

.bi-book {
  padding-right: 1rem;
}

.bi-info-circle {
  padding-right: 0.7rem;
}

.more-is-needed {
  height: 25rem;
}

.font {
  font-size: 28px;
}

.more-space {
  height: 25rem;
}

.jumbotron-2 {
  display: flex;
  background-image: url("assets/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-shrink: 2;
}

.material-icons.md-48 {
  font-size: 150px;
}

.btn {
  background-color: #bddfff;
  color: black;
  font-size: 20px;
}

.btn-outline-dark:hover {
  background-color: rgb(210, 235, 255);
  color: rgb(0, 0, 0);
}

.bi-file-text {
  padding-right: 0.75rem;
}

.hr-width {
  width: 30%;
}

.bi-tree {
  padding-right: 0.75rem;
}
.page-item > a:hover {
  background-color: #8c73ff;
  color: white;
}

.spacingv2 {
  text-align: center;
}

.footer-pos {
  text-align: center;
  height: 33rem;
}

.centered {
  padding-top: 7rem;
}

.background-colorv1 {
  background-color: rgb(39, 39, 39);
}

body {
  font-family: "PT Sans", sans-serif;
}

.color {
  color: white;
}

.padv2 {
  padding-top: 5rem;
}

.padv3 {
  padding-top: 8rem;
  padding-bottom: 2rem;
}
.adjust {
  font-size: 128px;
}

.adjustv2 {
  padding-right: 1rem;
}

.github-sizing {
  font-size: 28px;
}

.padv4 {
  padding-top: 7rem;
}

.github-color:hover {
  cursor: pointer;
  color: rgb(170, 170, 170);
}

.github-color {
  color: white;
}

.p6 {
  padding-bottom: 1.2rem;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

ol {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.bi-controller {
  padding-right: 0.75rem;
}

.bi-phone {
  padding-right: 0.75rem;
}

.jumbotron-3 {
  display: flex;
  background-image: url("https://raw.githubusercontent.com/No767/Lavender/master/src/assets/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-shrink: 2;
}

.bi-egg-fried {
  padding-right: 1rem;
}

.jumbotron-4 {
  display: flex;
  background-image: url("https://raw.githubusercontent.com/No767/Lavender/master/src/assets/img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-shrink: 2;
}

.text-color-v1 {
  color: #696969;
}

.jumbotron-5 {
  display: flex;
  background-image: url("../assets/wonton.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-shrink: 2;
}

.links {
  color: pink;
}

.links:hover {
  color: rgb(198, 255, 252);
}
